body{
    background-color: darkcyan;
    display: grid;
    grid-template-columns: 50% 50%;
}

#PartieGauche{
    grid-column: 1;
}

h1{
    color: whitesmoke;
}

h3{
    color: whitesmoke;
}

#PartieDroite {
    grid-column: 2;
    /* background-color: yellow; */
    justify-items: center;
    align-items: center;
    /* width: 500px;
    height: 500px; */
}

.inputsUPPER {
    text-transform: uppercase;
}

.inputsLOWER{
    text-transform: lowercase;
}
